          "source": "data:text/plain;charset=utf-8;base64,{{new_base64_mod['stdout']}}",
          "verification": {}
        },
        "mode": 420
      },
      {
        "filesystem": "root",
        "path": "/etc/chrony.conf",
        "user": {
          "name": "root"
        },
        "append": false,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{new_base64_chrony['stdout']}}",